.link-container {
    text-align: right; /* Aligns the links to the right */
  }
  a.withart {
    font-weight: bold;
    font-size: larger;
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
  }
  a.artprojects {
    font-weight: 100;
    font-size: large;
    color: black;
    text-decoration: none;
    display: block;
    margin-top: 20px;
  }
  .withart-logo {
    width: 35px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
  }

  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
  }

  .background {
    animation: fadeIn 2s linear 16s forwards;
    position: fixed;
    top: -10%;
    left: 0;
    width: 50%;
    height: 50%;

    opacity: 0;
    z-index: 1;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .link-container {
    text-align: right; /* Aligns the links to the right */
  }
  a.withart {
    font-weight: bold;
    font-size: larger;
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
  }
  a.artprojects {
    font-weight: 100;
    font-size: large;
    color: black;
    text-decoration: none;
    display: block;
    margin-top: 20px;
  }
  .withart-logo {
    width: 35px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
  }

  @font-face {
    font-family: "Blanka-Regular";
    src: url("{% static 'with_art/Blanka-Regular.otf' %}")
      format("opentype");

    font-weight: normal;
    font-style: normal;
  }

  canvas {
    display: block;
  }

  .text-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;

    font-family: "Blanka-Regular", sans-serif, red;
    position: fixed; /* Keep the logo fixed in the viewport */
    top: 40%; /* Center the container vertically */
    left: 50%; /* Center the container horizontally */
    transform: translate(
      -50%,
      -50%
    ); /* Offset the container by 50% of its width and height to perfectly center it */
  }

  .text-item {
    position: absolute;
    opacity: 0;
  }
  .red {
    color: #b10a0a;
  }

  .black {
    color: black;
  }

  /* Fade in/out animations */
  @keyframes fadeInOut {
    0%,
    100% {
      opacity: 0;
    }
    10%,
    90% {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* Applying animations */
  .text-item:nth-child(1) {
    font-size: 2rem;
    animation: fadeInOut 2s linear forwards;
  }

  .text-item:nth-child(2) {
    font-size: 2.5rem;
    animation: fadeInOut 2s linear 2s forwards;
  }

  .text-item:nth-child(3) {
    font-size: 3rem;
    animation: fadeInOut 2s linear 4s forwards;
  }

  .text-item:nth-child(4) {
    font-size: 3.5rem;
    animation: fadeInOut 2s linear 6s forwards;
  }

  .text-item:nth-child(5) {
    font-size: 4rem;
    animation: fadeInOut 2s linear 8s forwards;
  }

  .text-item:nth-child(6) {
    font-size: 4.5rem;
    animation: fadeInOut 2s linear 10s forwards;
  }

  .text-item:nth-child(7) {
    font-size: 5rem;
    animation: fadeInOut 2s linear 12s forwards;
  }

  .text-item:nth-child(8) {
    font-size: 6rem;
    animation: fadeInOut 2s linear 14s forwards;
  }

  .text-item:nth-child(9) {
    font-size: 8rem;
    animation: fadeIn 2s linear 16s forwards;
  }